body{
    background:black;
    color:#d9d9d9;
    font-family:Open Sans, Arial;
    font-size:16px;
    margin: 2em auto;
    max-width: 800px;
    padding:1em;
    line-height:1.4;
}


.red{
    color:#b00000
}

.blue{
    color:#00e;
}

.purple{
    color:#551a8b;
}

a{
    color:#00a2e7;
    text-decoration: underline;
}

a :visited{
    color:#ca1a70;
    text-decoration: underline;
}

.underlined_orange{
    color: #d24637;
    text-decoration: underline;
}

.grey{
    color:#454545;
    font-weight:bold;
}

.grey span{
    background:#454545;
}

.visited{
    color:#ca1a70;
}

.visited_maroon{
    color:#85144b;
}

.languages_logo{
    height:1em;
}

.container{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}

.container_figure_image{
    height:13em;
}

figure{
    margin:0 16px 0 0;
}

.container_text p:nth-child(1){
    margin-top:0;
}

.small_text{
    font-size:.4em;
}

.listinlist{
    font-family:monospace;
    font-size:.9em;
}

blockquote span:nth-child(1){
    margin-left :16px;
    padding-top:16px;
}

blockquote span:nth-child(3){
    font-style:italic;
    font-size:10px;
    padding-left: 30px;
}

.kopimi_logo_img{
    height:2em;
}

.kopimi_logo{
    display:flex;
    justify-content:center;
}






.rainbow{
    animation: rainbow 5s linear;
    animation-iteration-count: infinite;
}
@keyframes rainbow{
    100%,0%{
        color: rgb(255,0,0);
    }
    8%{
        color: rgb(255,127,0);
    }
    16%{
        color: rgb(255,255,0);
    }
    25%{
        color: rgb(127,255,0);
    }
    33%{
        color: rgb(0,255,0);
    }
    41%{
        color: rgb(0,255,127);
    }
    50%{
        color: rgb(0,255,255);
    }
    58%{
        color: rgb(0,127,255);
    }
    66%{
        color: rgb(0,0,255);
    }
    75%{
        color: rgb(127,0,255);
    }
    83%{
        color: rgb(255,0,255);
    }
    91%{
        color: rgb(255,0,127);
    }
}